<%-include('partials/header_login')-%>
<div id="login-form">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-3">
            <h2><b>Add Event</b></h2><br>
      <form class="" action="/add_event" method="post">
        <input type="text" class="form-control" name="topic" value="" placeholder="Topic" autofocus="on"><br>
        <input type="text" class="form-control" name="location" value="" placeholder="Location"><br>
        <input type="text" class="form-control" name="date" value="" placeholder="Date"><br>
        <input type="text" class="form-control" name="description" value="" placeholder="Description"><br>
        <button type="submit" class="btn btn-outline-success" name="button">Add event</button>
      </form>
    </div>
  </div>

</div>

  </body>
</html>
