<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/login_ngo">Login/SignUp</a>
    <a href="index_alphabets.html">USE THE APP</a>
    <a href="/become_volunteer">Become Volunteer</a>
    <a href="/events">Events</a>
  </body>
</html>
